

.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}


.for_share
{
font-family:  Comic Sans MS;
}



#links {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

#for_video
{
display:block;
margin: 0 auto;
width:800px;  

}
